@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#query{
    width: 200px;
}

#movies{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    overflow:hidden;
}